/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-img: url("../images/cover-image-dark.png");
  --main-bg-color: #000028;
  --color-primary-heading: #DB00FF;
  --accent-color: #FF0070;
  --title-decor: #FF0070;
  --color-card-heading: #000028;
  --color-section-heading: #FF0070;
  --color-card-text: #F1B2CE;
  --color-menu: #FF0070;
  --color-corner: var(--color-menu);
}