/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-img: url("../images/cover-image-light.png");
  --main-bg-color: #FFF1F7;
  --color-primary-heading: #FFC2E6;
  --accent-color: #FF8DCB;
  --title-decor: #FF8DCB;
  --color-secondary-heading: #353430;
  --color-section-heading: #353430;
  --color-card-text: #353430;
  --color-menu: #353430;
  --color-corner: var(--color-menu);
}

:root.theme-light .header__rec-label {
  display: none;
}

@media(prefers-color-scheme: light) {
  :root {
    --main-bg-img: url("../images/cover-image-light.png");
    --main-bg-color: #FFF1F7;
    --color-primary-heading: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-decor: #FF8DCB;
    --color-secondary-heading: #353430;
    --color-section-heading: #353430;
    --color-card-text: #353430;
    --color-menu: #353430;
    --color-corner: var(--color-menu);
  }

  :root:not(.theme-dark) .header__rec-label {
    /*сооори :(*/
    display: none;
  }

}