/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--main-bg-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 74px 10px 66px 10px;
  gap: 55px;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  justify-self: end;
  grid-row: 1/2;
}

.header__theme-menu-list {
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  user-select: none;
  cursor: pointer;
  appearance: none;
  font-family: 'IBM Plex mono';
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-menu);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 4px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-menu);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):focus {
  outline: none;
  border-bottom: 1px solid var(--color-menu);
}

.header__title {
  user-select: none;
  font-family: 'IBM Plex mono';
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-transform: lowercase;
  color: var(--color-primary-heading);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  justify-self: start;
  grid-row: 2/3;
}



.header__text {
  display: inline;
  user-select: none;
  font-family: 'IBM Plex mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  justify-self: start;
  grid-row: 3/4;
  background-color: var(--title-decor);
  color: var(--color-secondary-heading);
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
}

.corner.right-top-corner {
  top: 10px;
  right: 10px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.corner.left-bottom-corner {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__rec-label {
  user-select: none;
  position: absolute;
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
  top: 10px;
  right: 19px;
}

.header__rec-label::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__content {
  display: grid;
  grid-template-rows: (auto-fit, 1fr);
  gap: 20px;
  padding: 0px 10px 0px 10px;
}

.main__content:first-child {
  margin-top: 40px;
}

.main__content:not(:first-child) {
  margin-top: 30px;
}

.main__content-title {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-section-heading);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-secondary-heading);
  background-color: var(--accent-color);
}

.card__title~.card__title-normal {
  margin-top: 8px;
}

.card__title-normal {
  font-weight: 400;
}

.card__text {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-card-text);
}

.gallery {
  display: grid;
  gap: 10px;
  margin-bottom: 22px;
}

.gallery__title {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-secondary-heading);
  grid-column: 1/-1;
  background-color: var(--title-decor);

}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  user-select: none;
  font-family: 'IBM Plex mono';
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-transform: lowercase;
  color: var(--color-primary-heading);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    min-height: 1024px;
    gap: 30px;
    padding: 192px 20px 66px 0px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    align-self: start;
    margin-inline-start: 384px;
  }

  .corner.right-top-corner {
    top: 20px;
    right: 20px;
  }

  .corner.left-bottom-corner {
    bottom: 20px;
    left: 20px;
  }

  .header__rec-label {
    top: 20px;
    right: 30px;
  }

  .main__content {
    padding: 0px 20px 0px 20px;
  }

  .main__content:first-child {
    margin-top: 60px;
  }

  .main__content:not(:first-child) {
    margin-top: 60px;
  }

  .main__content-hard-focus {
    grid-template-columns: 1fr 2fr;
  }

  .main__content-hard-focus>.card {
    grid-column: 2;
  }

  .main__content-concentration {
    grid-template-columns: 1fr 2fr;
  }

  .main__content-concentration>.card__title {
    grid-column: 1;
    grid-row: 1;
  }

  .main__content-concentration>.card {
    grid-column: span 2;
  }

  .main__content-recommendations {
    grid-template-columns: 1fr 2fr;
  }

  .main__content-recommendations>.card {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }

  .gallery__title {
    grid-row: 1;
    grid-column: span 3;
  }

  .gallery__image:nth-child(2) {
    grid-row: 2;
    grid-column: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-row: span 2;
    grid-column: 3;
  }

  .gallery__image:nth-child(4) {
    grid-row: 3/5;
    grid-column: 1;
  }

  .gallery__image:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
  }

  .gallery__image:nth-child(6) {
    grid-row: 4;
    grid-column: 2/4;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    height: 100vh;
    min-height: 768px;
    gap: 65px;
    padding: 20px 20px 0px 0px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-left: 17px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    align-self: center;
    justify-self: start;
    margin-block-end: 20px;
  }

  .header__text {
    margin-inline-start: 513px;
  }

  .main__content-concentration {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main__content-concentration>.main__content-title {
    grid-column: 1;
  }

  .main__content-concentration>.card {
    grid-row: 2;
    grid-column: auto;
  }

}

.header__theme-menu-button_active {
  pointer-events: none;
}